*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #667eea;
}
.idli{
    flex: 1;
    font-size:35px;
    font-weight: bold;
    margin:auto;
    padding: 50px;

}
.dosa{
    flex: 4;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    margin:auto;
    
}
.hero{
    display: flex;
    padding-top: 50px;
    padding-bottom:20px;
    border-bottom: 5px solid black;

}
.name{
    flex:3;
    margin:auto;
    text-align: center;
    font-size: 2em;
    
}
#aa {
    font-size: 1.2em;

}
.photo{
    flex: 1;
    padding-left: 500px;
    
}
#me{
    width: 300px;
    height: 300px;
    border-radius: 200%;
    margin: 20px;
    
}
#hire{
    background-color: royalblue;
    font-size: 30px;
    border-radius: 15px;
}
#skk{
    width:200px;
}
#sk
{
    text-align: center;
    font-size:30px;
}
.skills{
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}
#ab{
    text-align: center;
    font-size: 30px;
}
#p1
{
    flex:1;
    padding-right: 20px;
    
}
.project-item{
    display: flex;
    
}

.item1{
    border:2px solid black;
    padding:10px;
    margin:10px;
    border-radius: 20px;
}